{{set . "title" "Funciones.De"}}
{{template "header.html" .}}

<div class="container">
  <div class="space40"></div>
  <div class="col-xs-12 col-sm-12 col-md-12 text-center">
    <div class="row">
      <p>Selecciona tu Ciudad</p>
      <select name="huge" class="select-block mbl">
        {{range .cities}}
        <option value="{{.IdCity}}">{{.Name}}</option>
        {{end}}
      </select>
      <ul>
        {{range .cities}}
        <li><a href="/{{.Abbrev}}">{{.Name}}</a></li>
        {{end}}

      </ul>
    </div>
  </div>
</div>

{{template "footer.html" .}}
